#chatarea.row.display
    h3= title
    .eight.columns(style="text-align:left;")
        div#css(data-bind="foreach: data.css")
            div.tweets
                span(data-bind="text: text")
        div#js(data-bind="foreach: data.js")
            div.tweets
                span(data-bind="text: text") 
        div#html(data-bind="foreach: data.html")
            div.tweets
                span(data-bind="text: text")
