#f2etweets.row
        div.css.tweets
                H2 CSS Tweets
        div.js.tweets
                H2 JS Tweets
        div.html.tweets
                H2 Html Tweets
block append scripts
    script(src="/js/EventTarget.js")
    script(src="/js/Timer.js")
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript")
        var socket = io.connect(), tweetsupdate, lastuptime = 0, timer = new Timer(60000,5), emitfetch;
        function TweetsUpdater(){
           var self = this;
           self.run = function (data){
                self.uptweets(data.html,'.html h2');
                self.uptweets(data.css,'.css h2');
                self.uptweets(data.js,'.js h2'); 
           };

           self.uptweets = function (tweets,clz){
                   var html = '', tweetsblk = $(clz);
                   if(tweets && tweets.length > 0){
                           for(var i=0,j=tweets.length;i<j; i+=1){
                                   var tweet = tweets[i];
                                   if(tweet){
                                        html += "<div>"+tweet.text+"</div>";
                                   }
                           }
                           if(tweetsblk && html){
                                   tweetsblk.after(html);
                           }  
                   }
           };

        }

        emitfetch = function(){
                socket.emit('fetchTweets',{time:lastuptime});
                lastuptime = new Date().getTime();
        }; 

        tweetsupdater = new TweetsUpdater();
        
        socket.on('connect', function(){
                emitfetch();
        });
        
        socket.on('updatetweets', function(data){
            if(tweetsupdater){
                tweetsupdater.run(data);
            }
        });
        
        timer.addListener('timerComplete', function () {
                console.log('TimerComplete Event', timer.currentCount(), timer.repeatCount());
        });
        
        timer.addListener('timer', function (){
                emitfetch();
        });
        
