
/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body{
    background-color:#F3F3F3;
}
.tweets {
    display: inline-block;
    zoom: 1; *display: inline; /* IE < 8: fake inline-block */
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
}
.tweets H2{padding:5px;background:#444;color:#eee;}
.html, .css,.js {
    width:30%;
    border-radius:5px 5px;
    border:1px solid #dedede;
    padding:5px;
    margin-right:5px;
}
.tweets > div {
     border-bottom:1px solid #dfdfdf;
     padding:3px;
     color:#444;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


